/****************
  Jumbo Styles
****************/
.jumbo-bg {
    height: 135vh;
    width: 100%;
    color: white;

    .pallet {
        height: 100%;
        position: relative;
    }

    .feverall-screen {
        background: #fc5e57;
        width: 100%;
        height: 50vh;
        position: relative;
    }

    .amloid-screen {
        background: #ffe06a;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .nicenclean-screen {
        background: #a0dcfe;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .wine4food-screen {
        background: #731a2c;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }
}

#jumbo-top-bg {
    width: 100%;
    height: 85vh;
    position: relative;
}

#jumbo-bottom-bg {
    background-image: url("images/jumbo/sayagata-400px.png");
    width: 100%;
    height: 50vh;
    position: relative;
}

.jumbo-center-img {
    display: block;
    margin: 0 auto;
    box-shadow: 0 17px 26px 0 rgba(0,0,0,0.75);
    height: 550px;
    width: 800px;
}

.jumbo-img-wrapper {
    position: relative;
    bottom: 90vh;
}

.bounce-up {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up-in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.jumbo-intro-container {
    width: 50%;
    margin: 0 auto;
    padding: 10vh;
    position: relative;
    top: 2vh;

}
