/*landing Page Styles*/
.landing-bg {
    height: 100.1vh;
    width: 100%;
    margin: 0;
    background-color: #1b1a25;
    background-image: url('images/nav/ivan-stencil.png');
    background-size: cover;
    background-position: 50%;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 10;

    #landing-overlay {
        position: absolute;
        height: 100.1vh;
        width: 100%;
        background: rgba(24, 23, 35, 0.7);
    }

    .landing-zdex {
        position: absolute;
    }
}

.side-list-landing {
    top: -5vh;
    margin: 4vh;
    width: 100vh;
    font-size: calc(.50rem + .50vw);
    transform-origin: top left;
    transform: rotate(-90deg) translate3d(-100%,0,0);
    list-style-type: none;
    position: absolute;
    left: -7vh;
    font-family: trump-gothic-pro;
    color: #fff;
    letter-spacing: 2px;
    box-sizing: border-box;

    li {
        color: white !important;
        font-size: 12px;
        text-align: center;
        font-family: 'Pathway Gothic One', sans-serif;

        .glyphicon {
            font-size: 8px;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}

.side-list-first {
    position: absolute;
    top: 0;
    left: 7vh;
}

.side-list-last {
    position: absolute;
    top: 0;
    right: 6.5vh;
}

.text-box {
    position: relative;
    top: 28vw;
    left: 90vh;
    text-align: left;
    margin: auto;

    .intro-one {
        width: 300px;
        float: left;
        margin-right: 20px;

        .intro-one-text {
            color: white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 1px;
        }
    }

    .intro-two {
        width: 300px;
        float: left;

        .intro-two-text {
            color: white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 1px;
        }
    }
}

.highlight-text {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.landing-img-logo {
    position: relative;
    top: 10vw;
    left: -10vh;
    margin: auto;
    width: 300px;
    opacity: 0.6;
}

.logo {}

.btn-wrapper {
    position: absolute;
    bottom: -55vh;
    left: 40vh;
    opacity: 0.3;

    .btn-enter {
        cursor: pointer;
        color: white;
        font-size: 0.9em;
    }

    .btn-enter:hover {
        color: black;
    }
}
/**********
  Line
**********/
#h-intro-line-container {
    position: absolute;
    margin: 0 0 0 -30px;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 5.24vw;
      cursor: pointer;
      transition: all .2s ease-in-out;
}

#h-intro-line-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: beige;
  opacity: .5;
  transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#h-intro-line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate3d(0px, 0%, 0px);
}
#h-intro-line-container:hover {
      transform:translatey(20px);
}
