/***************
  PageNav Styles
****************/
.btn-wrapper-top {
    position: absolute;
    top: 5vh;
    left: 5vh;

    .pagenav-list {
        list-style-type: none;
        position: fixed;
        top: 300px;
        left: 57px;
        z-index: 3;
        border-style: solid;
        border-width: thin;
        border-color: transparent;
        border-radius: 10px;
        padding: 4px;
        background: white;

        .pagenav-list-item {}
    }
}

.border-dark  {
  background-color: #322d33 !important;
}
