/***************
  PageNav Styles
****************/
.btn-wrapper-top {
    position: absolute;
    top: 5vh;
    left: 5vh;

    .pagenav-list {
        list-style-type: none;
        position: absolute;
        top: 43vh;
        left: 38px;
        z-index: 1;
        border-style: solid;
        border-width: thin;
        border-color: lightgray;
        border-radius: 10px;
        padding: 3px;
        background: white;

        .pagenav-list-item {}
    }
}
