/***************
  PageNav Styles
****************/
.btn-wrapper-top {
    position: absolute;
    top: 5vh;
    left: 5vh;
    opacity: 0.3;

    .pagenav-list {
        list-style-type: none;
        position: absolute;
        top: 40vh;
        left: -3px;
        z-index: 999;
        border-style: solid;
        border-width: thin;
        border-radius: 10px;
        padding: 3px;

        .pagenav-list-item {}
    }
}
