/*****************
  Roles Styles
*****************/
.roles-bg {
    width: 100%;
    height: 200px;
    background-image: url('images/roles/lightpaperfibers.png');
    background-size: contain;

    .role-component-list {
        position: relative;
        top: 5vw;
        left: 5vw;
        width: 80vw;
        text-align: center;

        .role-component-td-header {
            font-family: 'Open Sans Condensed', sans-serif;
        }

        .role-component-td {
            font-family: 'Pathway Gothic One', sans-serif;
        }
    }
}
