.nonvis {
    visibility: hidden !important;
}

.social-bg {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #312d31;
    position: absolute;
    background-image: url('images/nyc.jpg');
    background-size: cover;
}

#social-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(24, 23, 35, 0.7);
}

.landing-zdex {
    position: absolute;

    .social-box {
        position: fixed;
        top: 8vh;
        left: 100px;
        width: 89%;
        height: 85%;
        max-height: 100vh;
        border-style: solid;
        border-color: lightgrey;
        border-width: thin;
    }
}

.one-third {
    position: relative;
    color: white !important;
    top: 25vh;
    left: 24.5vh;
    float: left;
    margin: 10vh;
    padding: 10vh;
    width: 30vh;
    height: 28vh;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    text-align: center;
}

.circle {
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.circle:hover {
    border-radius: 0%;
    cursor: pointer;
}
