/***********
  Social
***********/
.nonvis {
    visibility: hidden !important;
}

.social-bg {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #312d31;
    position: absolute;
    background-image: url('images/nyc.jpg');
    background-size: cover;
}

#social-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(24, 23, 35, 0.7);
}

.landing-zdex {
    position: absolute;

    .social-box {
        position: fixed;
        top: 8vh;
        left: 100px;
        width: 89%;
        height: 85%;
        max-height: 100vh;
        border-style: solid;
        border-color: lightgrey;
        border-width: thin;
    }
}

.one-half {
    position: relative;
    color: white !important;
    top: 15vh;
    left: 10vh;
    float: left;
    margin: 10vh;
    padding: 2vh;
    width: 70vh;
    height: 50vh;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;

    .social-header {
        font-family: 'Megrim', cursive;
        text-align: center;
    }

    .social-text {
      letter-spacing: 1px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: calc(.8rem + .718vw);
      padding: 0.5vh;
      margin: 4.5vh;
      list-style: none;
      text-align: center;
      height: 5vh;
      position: relative;
      top: -2vh;
      background: rgba(0,0,0,0.3);
      transition: all 0.4s linear;

      .project-link-box {
          color: white;
          font-size: 20px;
      }

    }

    .social-text-contact {
        letter-spacing: 1px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: calc(.8rem + .718vw);
        padding: 0.5vh;
        margin: 4.5vh;
        list-style: none;
        text-align: center;
        height: 5vh;
        position: relative;
        top: -2vh;
        background: rgba(255,255,255,0.4);
        transition: all 0.4s linear;

        .contact-link-box {
            color: black;
            font-size: 20px;
        }

        .contact-link-box:hover {
            text-decoration: none;
        }
    }
    .social-text:hover {
        transform: scale(1.1);
        background: rgba(255,255,255,0.2);

        .project-link-box {
            color: black;
            font-size: 20px;
            text-decoration: none;
        }
    }

    .social-text-contact:hover {
        transform: scale(1.1);
        background: rgba(0,0,0,0.4);

        .contact-link-box {
            color: white;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
