.nonvis {
  visibility: hidden;
}
.social-bg {
    height: 100vh;
    width: 100%;
    background-color: #1b1a25;
    background-image: url('images/nyc.jpg');
    background-size: cover;



    #social-overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: rgba(24, 23, 35, 0.7);
    }

    .landing-zdex {
        position: absolute;
    }
}
